<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages theme="MyTheme"></pages>
  </system.web>
  <connectionStrings>
    <add name="ForgePlantManagementConnectionString" connectionString="data source=LAPTOP-1K1L63DR;initial catalog=ForgePlantManagement;Integrated Security=true;"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode " value="WebForms"/>-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>